@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import 'typography';

$mainBgColor: black;
$charcoal: #3c4453;
$fontColor: #c7d1cb;
$pFontSize: 1.25rem;
$brandColor2: #c44900;
$brandColor1: #2892d7;

.application {
    width: 100vw;

    h2 {
        font-size: 2rem;
    }

    &.abel { font-family: 'Abel', sans-serif; }
    &.alegreya { font-family: 'Alegreya Sans', sans-serif; }
    &.arimo { font-family: 'Arimo', sans-serif; }
    &.catamaran { font-family: 'Catamaran', sans-serif; }
    &.encode-sans { font-family: 'Encode Sans', sans-serif; }
    &.hind { font-family: 'Hind', sans-serif; }
    &.inter { font-family: 'Inter', sans-serif; }
    &.lato { font-family: 'Lato', sans-serif; };
    &.merriweather-sans { font-family: 'Merriweather Sans', sans-serif; };
    &.muli { font-family: 'Muli', sans-serif; };
    &.news-cycle { font-family: 'News Cycle', sans-serif; };
    &.noto-sans { font-family: 'Noto Sans', sans-serif; };
    &.ntr { font-family: 'NTR', sans-serif; };
    &.open-sans { font-family: 'Open Sans', sans-serif; };
    &.oswald { font-family: 'Oswald', sans-serif; };
    &.pavanam { font-family: 'Pavanam', sans-serif; };
    &.pontano-sans { font-family: 'Pontano Sans', sans-serif; };
    &.poppins { font-family: 'Poppins', sans-serif; };
    &.puritan { font-family: 'Puritan', sans-serif; };
    &.raleway { font-family: 'Raleway', sans-serif; };
    &.rambla { font-family: 'Rambla', sans-serif; };
    &.red-hat-display { font-family: 'Red Hat Display', sans-serif; };
    &.roboto { font-family: 'Roboto', sans-serif; };
    &.source-sans-pro { font-family: 'Source Sans Pro', sans-serif; };
    &.ubuntu-condensed { font-family: 'Ubuntu Condensed', sans-serif; };
    &.work-sans { font-family: 'Work Sans', sans-serif; };

    .content-blurb {
        background-color: $mainBgColor;
        border-bottom: 1px solid rgba(70,70,70,0.5);
        color: $fontColor;
        display: flex;
        height: 60vh;
        justify-content: space-between;
        margin-top: 48px;
        padding: 6vw;
        width: 100%;

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 40vw;

            h2 {
                align-self: flex-start;

                &:after {
                    background: $fontColor;
                    content: "";
                    display: block;
                    height: 1.5px;
                    margin-top: 1.5%;
                    position: absolute;
                    width: 13%;
                }
            }

            p {
                font-size: $pFontSize;
                line-height: 1.5;
                opacity: 0.75;
            }
        }


        img {
            border-radius: 5px;
            max-width: 35vw;
            transition: all 0.5s ease-out;

            &:hover {
                margin-left: 2rem;
                transform: scale(1.15, 1.15);
            }
        }
    }

    .call-to-action {
        align-items: center;
        background: $mainBgColor;
        border-bottom: 1px solid rgba(70,70,70,0.5);
        display: flex;
        justify-content: space-evenly;
        height: 25vh;

        .features {
            display: flex;
        }

        .feature {
            align-items: center;
            display: flex;
            padding: 1rem 3rem;

            i {
                color: $brandColor2;
                margin-right: 1.5rem;
                transition: all 0.4s ease-in-out;
            }

            h5, p {
                color: $fontColor;
            }

            h5 {
                font-weight: bold;
            }

            p {
                margin-top: 0.5rem;
                opacity: 0.5;
            }

            &:hover {
                i {
                    transform: scale(2.5, 2.5);
                }
            }
        }

        .feature:not(:last-child) {
            border-right: 1px solid white
        }

        .button {
            align-items: center;
            background-color: transparent;
            border: 3px solid $fontColor;
            border-radius: 2rem;
            color: $fontColor;
            cursor: pointer;
            display: flex;
            justify-content: center;
            height: 2.75rem;
            width: 9rem;
            transition: all 0.5s ease-out;

            &:hover {
                transform: scale(1.15, 1.15);
            }
        }

    }

    footer {
        align-items: center;
        background: $mainBgColor;
        display: flex;
        height: calc(15vh - 48px);
        justify-content: space-evenly;

        h5 {
            color: $fontColor;
        }
    }
}



@import 'navbar';